@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/styles/fonts.css */
@font-face {
  font-family: 'Mera Pro';
  src: url('../fonts/merapro-v4oex-webfont.woff') format('woff'),
       url('../fonts/merapro-v4oex-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Optional: Controls how fonts load */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
